html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
body, html {
	background-color: #DEDEDE;
	color: #505050;
	font: 12px/18px Verdana, Arial, sans-serif;
	margin: 0;
}
.clear {
	clear: both;
}
p {
	padding: 5px;
}
.top {
	background: url(img/bg-body2.png) no-repeat scroll center top #000000;
	width: 100%;
}
.inner {
	margin: 0 auto;
	width: 940px
}
.toop {
	margin-top: -28px
}
.header {
	background: none repeat scroll 0 0 transparent;
	height: 80px;
	padding: 35px 0 0;
	position: relative;
}
.header h1 {
	color: #FFFFFF;
	float: right;
	font-size: 10px;
	font-weight: bold;
	line-height: 40px;
	margin-top: -16px;
	text-transform: uppercase;
	width: 330px;
}
.header img {
	height: 73px;
	width: 328px
}
.header ul.nav {
	background: url(img/menu-bg.png) repeat scroll 0 0 transparent;
	border: 1px solid rgba(255, 255, 255, 0.07);
	border-bottom: 0;
	float: left;
	font-size: 10px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 35px;
	position: relative;
	text-transform: uppercase;
}
.header ul.nav li {
	list-style: none outside none;
	float: left;
	margin: 0 32px 0 0;
	position: relative
}
.header ul.nav li a {
	color: #C4C4C4;
	display: block;
	height: 40px;
	position: relative
}
.nav {
	position: relative;
}
.nav ul {
	list-style: none outside none;
}
.nav ul a {
	color: #C4C4C4
}
.header ul.nav li a:hover, .header ul.nav li.active a {
	color: #ffffff
}
/* Navigation - second level */
.header ul.nav ul {
	width: 155px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	background: url(img/bg-tooltip.png) 50% 10px no-repeat;
	padding-top: 17px;
	z-index: 100;
	margin-left: -50px
}
.header ul.nav ul ul {
	background: none repeat scroll 0 0 transparent;
	padding-left: 45px;
	padding-top: 39px
}
.header ul.nav ul li {
	float: none;
	display: block;
	margin: 0;
	background: url(img/bg-tooltip-repeat.png) repeat;
	background-color: rgba(255, 255, 255, 0.87)
}
.header ul.nav ul li a {
	color: #507b8d !important;
	padding: 0 20px
}
.featured {
	background: url(img/bg-featured.png) no-repeat scroll 0 0 transparent;
	position: relative;
	height: 90px;
	margin-bottom: 0
}
.featured h2 {
	color: #FFFFFF;
	font-size: 20px;
	padding: 20px;
	text-transform: uppercase
}
.main {
	padding: 18px 25px 10px;
	float: left;
	box-shadow: 0px 0px 4px #9D9D9D;
	background-color: #FFFFFF;
	position: relative;
	width: 890px
}
.main2 {
	box-shadow: 0px 0px 4px #9D9D9D;
	background-color: #FFFFFF;
}
.rightcolumn {
	float: right;
	width: 294px;
}
.centercolumn {
	float: left;
	margin-bottom: 10px;
}
.dreispalten-layout {
	width: 558px
}
/*bottom custom block */
.bottom {
	background: url(img/bg-bottom.png) no-repeat scroll center top transparent;
	font-size: 10px;
	margin-top: 15px;
	padding: 65px 0 0;
	height: 108px;
}
.bottom .widget {
	float: left;
	margin: 0 40px 0 0;
	padding: 0 40px 0 0;
	background: url(img/separator-vert.png) 100% 0 repeat-y;
	width: 27%;
	/* for three blocks;
change according your taste*/
}
.bottom .widget:last-child {
	margin-right: 0;
	padding-right: 0;
	background: none;
}
.bottom .widget ul li a {
	color: #676767;
	text-transform: uppercase;
	line-height: 30px;
}
#widget-bg {
	background: none repeat scroll 0 0 #CCCCCC;
	height: 100%;
	padding: 5px;
}
/* footer */
.footer {
	background-color: #EAEAEA;
	color: #676767;
	font-size: 10px;
	height: 42px;
	line-height: 42px;
	margin: 45px 0 0;
	text-transform: uppercase;
}
.foottext {
	text-align: center;
}
.page-content {
	padding: 18px 25px 10px;
	margin: 0 0 25px;
	float: left;
}
.dreispalten-block {
	width: 242px;
}
.vollansicht-block {
	width: 407px;
}
.page-content, .centerblock-center, .centerblock-left ,  .centerblock-right, #twidth1 , .right-block-container {
	-moz-box-shadow: 0 0 4px #9D9D9D;
	box-shadow: 0px 0px 4px #9D9D9D;
	-webkit-box-shadow: 0px 0px 4px #9D9D9D;
	box-shadow: 0px 0px 4px #9D9D9D;
}
.centerblock-left {
	margin: 0 0 25px;
	overflow: hidden;
	background-color: #FFFFFF;
	float: left;
	padding: 18px 25px 10px;
	position: relative;
}
.centerblock-right {
	margin: 0 0 25px 0;
	overflow: hidden;
	float: right;
	background-color: #FFFFFF;
	padding: 18px 25px 10px;
	position: relative;
}
.dreispalten-layout .centerblock-right {
	margin-right: -51px
}
.centerblock-center {
	margin: 0 0 25px;
	overflow: hidden;
	float: left;
	display: block;
	padding: 18px 25px 10px;
}
.right-block-container {
	padding-bottom: 2px;
	background-color: #FFFFFF;
	margin-bottom: 35px;
	position: relative;
	-moz-box-shadow: 0 0 4px #9D9D9D;
}
.right-block-title {
	background: url(img/bg-fold-top.png) no-repeat scroll 50% 50% transparent;
	border: medium none;
	color: #535353;
	font-size: 12px;
	height: 51px;
	left: -1px;
	line-height: 50px;
	margin-bottom: -15px;
	padding: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: -20px;
	width: 296px;
	text-shadow: 0 1px 2px #8B8B8B;
}
.right-block-content {
	margin: 0 15px 15px;
}
.center-center-container {
	margin-bottom: 15px
}
.center-right-container {
}
.center-left-container {
}
.block-title {
	text-shadow: 0 1px 2px #BDC1BE;
	border-bottom: 1px solid #D6D6D6;
	color: #858585;
	font-size: 14px;
	margin: 0 0 15px;
	padding: 0 0 8px
}
.block-content {
	padding: 5px;
}
/* hypertext links */
a {
	color: #507B8D;
	outline: medium none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #45506F;
}
/* titles */
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	line-height: 150%;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	color: #8c8c8c;
	font-size: 18px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #d6d6d6;
}
h4 {
	color: #858585;
	font-size: 14px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #d6d6d6;
}
h5 {
	color: #507B8D;
	font-size: 10px;
	margin: 10px 0;
}
h6 {
	font-size: .8em;
}
/*listing*/
ul, ol {
	margin: 0px;
	padding: 0 0 0 15px;
}
li {
	margin: 0px;
	list-style: disc inside none
}
ol li {
	list-style: decimal inside none
}
/* block main menu */
#mainmenu {
}
#mainmenu a {
	border-bottom: 1px solid #D6D6D6;
	display: block;
	margin-bottom: 9px;
	overflow: hidden;
	padding: 0 3px 6px;
	font-size: 13px;
}
#mainmenu a:hover {
}
#mainmenu a.menuTop {
}
#mainmenu a.menuMain {
}
#mainmenu a.menuSub {
	font-size: 11px;
	padding-left: 9px;
}
#mainmenu a.menuSub:hover {
	background-color: #f8f8f8;
}
/* block user menu */
#usermenu {
	font-size: 12px;
}
#usermenu a {
	border-bottom: 1px solid #D6D6D6;
	margin-bottom: 6px;
	overflow: hidden;
	padding: 0 2px 4px;
	display: block;
}
#usermenu a:hover {
}
#usermenu a.menuTop {
}
#usermenu a.highlight {
	background-color: #FFE1AD
}
/*forms */
button, input[type="submit"], input[type="button"], input[type="reset"] {
	border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background: url(img/bg-pagination-item.png) repeat-x scroll 0 0 transparent;
	border: 1px solid #C6C6C6;
	box-shadow: 0 0 3px #AAA8A8;
	-moz-box-shadow: 0 0 3px #AAA8A8;
	-webkit-box-shadow: 0 0 3px #AAA8A8;
	height: 26px;
	margin-top: 5px;
	padding: 0 8px;
	width: auto;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover, input[type="reset"]:hover {
	color: #666666;
	cursor: pointer;
}
form {
	padding-top: 5px;
}
select {
	padding: 3px;
	border: 1px solid #f3f3f3
}
input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="checkbox"]:focus, textarea:focus {
	border: 1px solid #BCBCBC;
	-moz-box-shadow: 0 0 10px #85cefd;
	-webkit-box-shadow: 0 0 10px #85cefd;
	box-shadow: 0 0 10px #A3A9AD;
}
input[type="text"], input[type="password"] {
	border: 1px solid #C1C1C1;
	box-shadow: 0 0 2px #C8C8C8 inset;
	-moz-box-shadow: 0 0 2px #C8C8C8 inset;
	-webkit-box-shadow: 0 0 2px #C8C8C8 inset;
	padding: 5px;
}
/* tables and cells */
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
	text-align: left;
}
table td {
	padding: 0;
	border-width: 0;
	vertical-align: top;
}
th {
	background-color: transparent;
	background-image: url(img/bg_header.jpg);
	background-position: 0 top;
	background-repeat: repeat-x;
	border-width: 1px;
	text-align: center;
}
.outer {
}
.head {
	background-color: #f4f4f4;
	font-weight: bold;
}
.even {
	background-color: #f7f7f7;
}
.odd {
	background-color: #f9f9f9;
}
.foot {
	background-color: #f4f4f4;
	font-weight: bold;
}
tr.even td {
	background-color: #f7f7f7;
}
tr.odd td {
	background-color: #f9f9f9;
}
table td, table th {
	border: 1px solid #CCCCCC;
	padding: 5px 5px;
}
/* Forum */
.comTitle {
	font-weight: bold;
	margin-bottom: 2px;
}
.comText {
	padding: 2px;
}
.comUserStat {
	font-size: 10px;
	margin: 2px;
	padding: 2px;
}
.comUserStatCaption {
	font-weight: normal;
}
.comUserStatus {
	margin-left: 2px;
	margin-top: 10px;
	color: #639ACC;
	font-weight: bold;
	font-size: .8em;
}
.comUserRank {
	margin: 2px;
}
.comUserRankText {
	font-size: .8em;
	font-weight: bold;
}
.comUserRankImg {
	border: 0;
}
.comUserName {
}
.comUserImg {
	height: 55px;
	width: 55px;
}
.comDate {
	font-weight: normal;
	font-style: italic;
	font-size: .8em
}
.comDateCaption {
	font-weight: bold;
	font-style: normal;
	font-size: .8em
}
.signature {
	font-size: .8em;
	font-style: italic;
}
.item2 {
	background: url(img/comments-balloon-bg.png) no-repeat scroll left top transparent;
	border-bottom: 1px solid #D6D6D6;
	margin: 0 0 15px;
	padding: 0 0 15px;
}
.avatar {
	float: left;
	height: 55px;
	width: 55px;
	margin: 0 16px 0 0;
}
.author {
	background: url(img/comments-author-icon.png) no-repeat scroll left center transparent;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 12px;
}
.date {
	background: url(img/comments-date-icon.png) no-repeat scroll left center transparent;
	margin: 0 15px 0 0;
	padding: 0 0 0 12px;
}
.comcontent {
	background: none repeat scroll 0 0 #E8E8E8;
	font-size: 11px;
	margin: 5px 0 0;
	padding: 15px 15px 1px;
}
.comment-head {
	height: 54px;
}
.dark {
	position: relative;
	display: none;
	float: right;
	padding-top: 3px;
}
/* core nachrichten */
.errorMsg {
	background-color: #FFCCCC;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	padding: 10px;
}
.confirmMsg {
	background-color: #DDFFDF;
	color: #136C99;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	padding: 10px;
}
.resultMsg {
	background-color: #c1c1c1;
	color: #333;
	text-align: center;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-weight: bold;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 10px;
}
/* codes and quotes */
.xoopsQuote, .xoopsQuote {
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838
}
.xoopsQuote:before, .xoopsQuote:before {
	content: "\201C";
	font-size: 43px;
	left: 11px;
	position: absolute;
	top: -8px;
	color: #7a7a7a;
}
.xoopsCode, .xoopsCode {
	background-color: #EFEFEF;
	border-color: #CACACA;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	font-family: "Courier New", Courier, monospace;
	max-height: 200px;
	overflow: auto;
	padding: 3px;
}
/* tabs custom block */
.primary {
	background-color: #FFFFFF;
	-moz-box-shadow: 0 0 4px #9D9D9D;
	float: left;
	margin-bottom: 25px;
	padding-top: 0px;
	position: relative;
}
.primary ul.tabs-nav {
	list-style: none outside none;
	padding: 0px;
	height: 42px
}
.primary ul.tabs-nav li {
	float: left;
	width: auto;
	list-style: none outside none;
	padding: 5px;
	margin: 0 10px;
}
.primary ul.tabs-nav li a {
	display: block;
	height: 23px;
	width: 100%;
	line-height: 23px;
	color: #787878;
	padding: 0 5px 5px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #fff;
	border-top: 3px solid #fff;
}
.primary ul.tabs-nav li a:hover, .primary ul.tabs-nav li a.actual {
	border-top: 3px solid #000;
	text-decoration: none;
	background-color: #222;
	color: #fff
}
.solapa2 {
	padding: 20px;
}
#twidth1 {
	width: 607px;
}
#twidth2 {
	width: 940px;
}
