<div class="contact">
    <{$navigation}>
    <{if $form}><{$form}><{/if}>
    <{if $logs}>
    <div class="pad2">
        <ul>
            <{foreach item=log from=$logs}>
            <li><{$log}></li>
            <{/foreach}>
        </ul>
    </div>
    <{/if}>
</div>
