<div id="help-template" class="outer">
    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/xoopsmembers/admin/index.php"
           title="Back to the administration of XOOPS Members"> XOOPS Members
            <img src="<{xoAdminIcons home.png}>"
                 alt="Back to the Administration of XOOPS Members"/>
        </a></h1>
    <!-- ===== Help Content ======= -->

    <h4 class="odd">Description</h4><br/>


    XOOPS Members shows a list of registered users.<br/><br/>

    <h4 class="odd">Install/uninstall</h4><br/>

    No special measures necessary, follow the standard installation process –
    extract the module folder into the ../modules directory. Install the
    module through Admin -> System Module -> Modules. <br/><br/>
    Detailed instructions on installing modules are available in the
    <a href="http://goo.gl/adT2i">XOOPS Operations Manual</a><br/><br/>

    <h4 class="odd">Operating instructions</h4><br/>

    There is no setup on the Admin side<br/><br/>
    On the user side, just select the criteria to search on, and click submit to search users<br/><br/>

    <h4 class="odd">Tutorial</h4>
    <br/>
     Not available yet

    <!-- ====== Help Content ======== -->

</div>