  <div id="xo-footer">
    <!-- Design by Xoopsland.com -->
    <p class="copyright">
		<{$xoops_footer}> | Design by : 
		<cite>
		<a href="http://www.xoops-theme.com" title="best free xoops and impresscms themes" rel="external">xoops-theme.com</a>
		</cite>
	  
	<!--	&copy; 2009  All Rights Reserved <a href="<{xoAppUrl }>">xoops-theme.com</a>-->
			<p><!-- USE AS FOOTER EXAMPLE --><a href="<{xoAppUrl /terms.php}>"><{$smarty.const._TERMS}></a> | <a href="<{xoAppUrl /privacy.php}>"><{$smarty.const._PRIVACY}></a> | <a href="<{xoAppUrl /imprint.php}>"><{$smarty.const._IMPRINT}></a> | <a href="<{xoAppUrl /disclaimer.php}>"><{$smarty.const._DISCLAIMER}></a></p>
		<p><center><{$xoops_banner}></center></p>
	
	</p>
  </div>
