<div id="nav-top">
    <ul id="xo-globalnav" class="<{$xoops_dirname}>">
      <li><a class="xo<{if $xoops_dirname == ""}>-current<{/if}>" href="<{xoAppUrl }>" title="Home">Home</a></li>
      <!-- <li><a class="xo<{if $xoops_dirname == "news"}>-current<{/if}>" href="<{xoAppUrl modules/news/}>" title="News">[en]News[/en][de][/de]</a></li>-->

      <li><a class="xo<{if $xoops_dirname == "/"}>-current<{/if}>" <a href="<{xoAppUrl /about.php}>"><{$smarty.const._ABOUT}></a></li>

	 <li><a class="xo<{if $xoops_dirname == "wfdownloads"}>-current<{/if}>" href="<{xoAppUrl modules/wfdownloads/}>" title="Downloads">[en]Downloads[/en][de]Downloads[/de]</a></li>

	  <li><a class="xo<{if $xoops_dirname == "vtforum"}>-current<{/if}>" href="<{xoAppUrl modules/vtforum/}>" title="Forum">[en]Forum[/en][de]Foren[/de]</a></li>

      <li><a class="xo<{if $xoops_dirname == "xoopsfaq"}>-current<{/if}>" href="<{xoAppUrl modules/xoopsfaq/}>" title="FAQ">[en]FAQ[/en][de]FAQ[/de]</a></li>

      <li><a class="xo<{if $xoops_dirname == ""}>-current<{/if}>" href="<{xoAppUrl modules//}>" title="">[en][/en][de][/de]</a></li>

      <li><a class="xo<{if $xoops_dirname == "contact"}>-current<{/if}>" href="<{xoAppUrl modules/contact/}>" title="Contact">[en]Contact us[/en][de]Kontakt[/de]</a></li>
 
   
 <!--      =====| WE NEED TO CHECK THE VARS: BELOW FOR ML TO FUNCTION  |======
     <li><a class="xo<{if $xoops_dirname == ""}>-current<{/if}>" href="<{xoAppUrl }>" title="Home"><{$smarty.const._HOME}></a></li>
     <li><a class="xo<{if $xoops_dirname == "content"}>-current<{/if}>" href="<{xoAppUrl modules/content/index.php?id=1}>" title="About us"><{$smarty.const._ABOUT}></a></li>
	  <li><a class="xo<{if $xoops_dirname == "vtforum"}>-current<{/if}>" href="<{xoAppUrl modules/vtforum/}>" title="Forum"><{$smarty.const._FORUMNAME}>/a></li>
	 <li><a class="xo<{if $xoops_dirname == "wfdownloads"}>-current<{/if}>" href="<{xoAppUrl modules/wfdownloads/}>" title="Downloads"><{$smarty.const._DOWNLOADSNAME}></a></li>
	 
	  <li><a class="xo<{if $xoops_dirname == "faq"}>-current<{/if}>" href="<{xoAppUrl modules/xoopsfax/}>" title="FAQ"><{$smarty.const._FAQNAME}>/a></li>
	  
      <li><a class="xo<{if $xoops_dirname == "contact"}>-current<{/if}>" href="<{xoAppUrl modules/contact/}>" title="Contact"><{$smarty.const._CONTACT}></a></li>-->
    </ul>
</div>
