  <!-- Title and meta -->
  <title><{if $xoops_pagetitle !=''}><{$xoops_pagetitle}> : <{/if}><{$xoops_sitename}></title>
  <meta http-equiv="content-type" content="text/html; charset=<{$xoops_charset}>" />	
  <meta name="robots" content="<{$xoops_meta_robots}>" />
  <meta name="keywords" content="<{if $xoops_pagetitle !=''}><{$xoops_pagetitle}>, <{/if}><{$xoops_meta_keywords}>" />
  <meta name="description" content="<{if $xoops_pagetitle !=''}><{$xoops_pagetitle}>, <{/if}><{$xoops_meta_description}>" />
  <meta name="rating" content="<{$xoops_meta_rating}>" />
  <meta name="author" content="<{$xoops_meta_author}>" />
  <meta name="copyright" content="<{$xoops_meta_copyright}>" />
  <meta name="generator" content="<{$xoops_meta_generator}>" />
	
  <!-- Rss -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<{xoAppUrl backend.php}>" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/ico" href="<{xoImgUrl icons/favicon.ico}>" />
	
  <!-- Sheet Css -->
  <link rel="stylesheet" type="text/css" media="all" title="Style sheet" href="<{xoAppUrl xoops.css}>" />
  <link rel="stylesheet" type="text/css" media="all" title="Style sheet" href="<{xoImgUrl css/style.css}>" />

  <!-- Scripts -->
  <{$xoops_module_header}>
  
<!-- COOKIEGAURD PART1 START -->
    <script type="text/javascript" src="<{xoAppUrl class/euCookie/js/jquery.min.js}>" /></script>
    <script type="text/javascript" src="<{xoAppUrl class/euCookie/js/jqueryCookieGuard.1.0.min.js}>" /></script>
<!-- COOKIEGAURD PART1 END -->
  
