  <div id="xo-header" class="<{$xoops_dirname}>">
	
	<!-- Banner -->
    <div class="banner"><!--<{$xoops_banner}>--><a href="http://www.voyatrax.org"><img border="0" alt="VoyaTrax CMS" src="<{xoImgUrl img/vt_logo_1.0_250-108.png}>" width="250" height="108"></a>
    </div>
    <!-- Logo -->    

  </div>
