
<!-- start comment post DARK -->

<div class="item2">
<div class="item3">
	<div class="comment-head">
	  	<{if $comment.poster.id != 0}>
		<span class="comUserImg"><img class="avatar" src="<{$comment.poster.avatar}>" alt="avatar" /></span>
         <{else}>  
		 <span class="comUserImg"><img class="avatar" src="<{$xoops_imageurl}>img/anon.jpeg" alt="anonimous" /></span><{/if}>
		<span class="author"> <{$comment.poster.uname}></span> | 
         <{if $comment.poster.id != 0}>
          
				<span class="comUserRankText"><{$comment.poster.rank_title}></span>
				<img class="comUserRankImg" src="<{$comment.poster.rank_image}>" alt="" />|
				<span class="comUserStat"><span class="comUserStatCaption"><{$lang_posts}>:</span> <{$comment.poster.postnum}></span>
			
			<{else}>
			<span class="comUserStat"><span class="comUserStatCaption"><{$lang_posts}>:</span> <{$comment.poster.postnum}></span>
			 <{/if}><br>
		<span class="comDateCaption date"><{$lang_posted}>: <{$comment.date_posted}></span>
			
        

          	<{if $xoops_iscommentadmin == true}>

          	<span class="controls dark" align="<{$smarty.const._GLOBAL_RIGHT}>">
            		<a href="<{$editcomment_link}>&amp;com_id=<{$comment.id}>" title="<{$lang_edit}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/edit.gif" alt="<{$lang_edit}>" /></a><a href="<{$deletecomment_link}>&amp;com_id=<{$comment.id}>" title="<{$lang_delete}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/delete.gif" alt="<{$lang_delete}>" /></a><a href="<{$replycomment_link}>&amp;com_id=<{$comment.id}>" title="<{$lang_reply}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/reply.gif" alt="<{$lang_reply}>" /></a>
          	</span>

          	<{elseif $xoops_isuser == true && $xoops_userid == $comment.poster.id}>

          	<span class="controls dark" align="<{$smarty.const._GLOBAL_RIGHT}>">
            		<a href="<{$editcomment_link}>&amp;com_id=<{$comment.id}>" title=="<{$lang_edit}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/edit.gif" alt="<{$lang_edit}>" /></a><a href="<{$replycomment_link}>&amp;com_id=<{$comment.id}>" title="<{$lang_reply}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/reply.gif" alt="<{$lang_reply}>" /></a>
          	</span>

          	<{elseif $xoops_isuser == true || $anon_canpost == true}>

         	 <span class="controls dark" align="<{$smarty.const._GLOBAL_RIGHT}>">
            		<a href="<{$replycomment_link}>&amp;com_id=<{$comment.id}>" title="<{$lang_reply}>"><img src="<{$xoops_url}>/images/icons/<{$xoops_langname}>/reply.gif" alt="<{$lang_reply}>" /></a>
          	</span>

          	<{else}>

         	 <span></span>

          	<{/if}>

          	
			
	</div> <!-- end comment-head -->

          <div class="item comcontent">
            <div class="comTitle h3"><{$comment.image}><{$comment.title}></div>
			<div class="comText"><{$comment.text}></div>
          </div>
</div>	  
</div>
     
<!-- end comment post -->
