<script type="text/javascript">
$(function() {
   $(".item2").hover(function() {
       $(this).find(".dark").animate({ opacity: 'toggle' });
   });
});
</script>

<div>
  <{foreach item=comment from=$comments}>
    <{include file="db:system_comment.html" comment=$comment}>
  <{/foreach}>
</div>