
<script type="text/javascript">
$(function() {
   $(".item2").hover(function() {
       $(this).find(".dark").animate({ opacity: 'toggle' });
   });
});
</script>
<{section name=i loop=$comments}>
<br />
<table cellspacing="1px" class="outer">

  <{include file="db:system_comment.html" comment=$comments[i]}>
</table>

<{if $show_threadnav == true}>
<div style="text-align:<{$smarty.const._GLOBAL_LEFT}>; margin:3px; padding: 5px;">
<a href="<{$comment_url}>" title="<{$lang_top}>"><{$lang_top}></a> | <a href="<{$comment_url}>&amp;com_id=<{$comments[i].pid}>&amp;com_rootid=<{$comments[i].rootid}>#newscomment<{$comments[i].pid}>" title="<{$lang_parent}>"><{$lang_parent}></a>
</div>
<{/if}>

<{if $comments[i].show_replies == true}>
<!-- start comment tree -->
<br /> 
<table cellspacing="1px" class="outer">

  <{foreach item=reply from=$comments[i].replies}>
  <tr>
    <td class="even"><{$reply.prefix}> <a href="<{$comment_url}>&amp;com_id=<{$reply.id}>&amp;com_rootid=<{$reply.root_id}>" title="<{$reply.simple_title}>"><{$reply.title}></a></td>
    <td class="odd" align="center"><{$reply.poster.uname}></td>
    <td class="even" align="<{$smarty.const._GLOBAL_RIGHT}>"><{$reply.date_posted}></td>
  </tr>
  <{/foreach}>
</table>
<!-- end comment tree -->
<{/if}>

<{/section}>