<script type="text/javascript">
$(function() {
   $(".item2").hover(function() {
       $(this).find(".dark").animate({ opacity: 'toggle' });
   });
});
</script>
<{section name=i loop=$comments}>
<br />
<table cellspacing="1px" class="outer">

  <{include file="db:system_comment.html" comment=$comments[i]}>
</table>

<!-- start comment replies -->
<{foreach item=reply from=$comments[i].replies}>
<br />
<table cellspacing="0" border="0">
  <tr>
    <td width="<{$reply.prefix}>"></td>
    <td>
      <table class="outer" cellspacing="1px">

        <{include file="db:system_comment.html" comment=$reply}>
      </table>
    </td>
  </tr>
</table>
<{/foreach}>
<!-- end comment tree -->
<{/section}>