<div id="help-template" class="outer">
    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/xoopspartners/admin/index.php"
           title="Back to the administration of Partners"> Partners <img src="<{xoAdminIcons home.png}>"
                                                                         alt="Back to the Administration of Partners"/>
        </a></h1>
    <!-- -----Help Content ---------- -->

    <h4 class="odd">Description</h4>

    <p class="even">
        The Partners module provides a page and a block for displaying links to the websites of cooperating
        organizations, together with short descriptions and optionally logos. Typical usage includes recognition of
        websites that refer a lot of traffic to your own and ‘thank you’ pages for sponsors.
    <h4 class="odd">Install/uninstall</h4>

    No special measures necessary, follow the standard installation process – extract the xoopspartners folder into the
    ../modules directory. Install the module through Admin -> System Module -> Modules. </br></br>
    Detailed instructions on installing modules are available in the <a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations
    Manual</a> </p>

    <p class="even">
    <h4 class="odd">Operating instructions</h4>
    To set up this module you need to:</br></br>
    i) Enter your partner’s details – including a URL for their website and (optionally) logo plus a short description
    (see ‘Adding a partner’)</br></br>
    ii) Configure your preferences for the module (see ‘Preferences’) and optionally the Partners block if you intend to
    use it (see ‘Blocks’)</br></br>
    iii) Check that you have given your user groups the necessary module and block access rights to use this module.
    Group permissions are set through the Administration Menu -> System -> Groups. </br></br>Detailed instructions on
    configuring the access rights for user groups are available in the <a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations
    Manual</a></p>

    <h4 class="odd">Tutorial</h4>

    <p class="even">
        You can find a more detailed Tutorial <a href="http://goo.gl/ZqCFb">here</a>

        <!-- -----Help Content ---------- -->

</div>