/* 
 *  ___ _   _ ____  ____      _    ___                   
 * |_ _| \ | / ___||  _ \    / \  / _ \   _ __ ___   ___ 
 *  | ||  \| \___ \| |_) |  / _ \| | | | | '_ ` _ \ / _ \
 *  | || |\  |___) |  _ <  / ___ \ |_| |_| | | | | |  __/
 * |___|_| \_|____/|_| \_\/_/   \_\__\_(_)_| |_| |_|\___|
 *                                                      
 * Copyright 2010 SUN Ruoyu (Insraq)
 *
 * Name:			Master Stylesheet
 * Author:		insraq
 * URI:			http://insraq.me/
 * Version:		2.0
 * License:		GPL 2.0
 * Please do not remove the copyright information
 */ 

/* Import */

@import url(reset.css);
@import url(960.css);
 
/* Global Style */

body {
	color: #666;
	font-size: 13px;
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.6;
}

a {
	color: #6495ed;
	text-decoration: none;
}

a img {
	outline: none;
	border: 0;
}

img {
	max-width: 100%;
}

a:hover {
	color: #3071e7;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: Georgia, Time, "Times New Roman", serif;
	font-weight: normal;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 15px;
}

small {
	font-size: 12px;
}

p, ul, ol {
	margin: 0 0 10px 0;
}

li {
	margin: 5px 0;
}

ul {
	list-style: square inside;
}

ol {
	list-style: decimal inside;
}

blockquote {
	font-family: Georgia, Times, "Times New Roman", serif;
	padding-left: 5px;
	margin-left: 5px;
	border-left: 3px solid #e5ecf0;
	font-style: italic;
}

pre {
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
	border: 1px dashed #d5dcde;
	background: #f3f5f6;
	padding: 5px;
	margin: 0 0 15px 0;
}

code {
	font-family: Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #777777;
}

strong {
	font-weight: bold;
}

/* Theme Specific Style */
/* Your Code Should Be Here! */


/* Blocks */

.left-block {
	
}

.left-block-content {
	margin-bottom: 20px;
}

.center-top-left {
	width: 48%;
	float: left;
}

.center-top-left-block {
	margin-bottom: 20px;
}

.center-top-right {
	width: 48%;
	float: right;
}

.center-top-right-block {
	margin-bottom: 20px;
}

.center-top-center {
	clear: both;
	width: 100%;
}

.center-top-center-block {
	margin-bottom: 20px;
}

.center-bottom-left {
	width: 48%;
	float: left;
}

.center-bottom-left-block {
	margin-bottom: 20px;
}

.center-bottom-right {
	width: 48%;
	float: right;
}

.center-bottom-right-block {
	margin-bottom: 20px;
}

.center-bottom-center {
	clear: both;
	width: 100%;
}

.center-bottom-center-block {
	margin-bottom: 20px;
}

.right-block {
	
}

.right-block-content {
	margin-bottom: 20px;
}

.xo-cotent {
}

.footer {
	text-align: center;
}

/* XOOPS System Template */
/* The code here is different from Inspire 1-6. I rewrite it based on blanktheme by Kris */

/* Main Menu */
#mainmenu {

}

#mainmenu a {
	display: block;
}
#mainmenu a:hover {

}

#mainmenu a:active, #mainmenu a.current {

}

#mainmenu a:visited {

}

#mainmenu a.menuTop  {

}

#mainmenu a.menuMain {

}

#mainmenu a.menuSub {
	padding: 0 0 0 10px;
	font-size: 12px;
}

#mainmenu a.menuSub:hover  {

}

#mainmenu a.maincurrent {

}

/* User Menu */

#usermenu {

}

#usermenu a {
	display: block;
}

#usermenu a:hover  {

}

#usermenu a:active, #usermenu a.current {

}

#usermenu a:visited {

}

#usermenu a.menuTop {

}

#usermenu a.highlight {

}

/* Tables and Cells */

table {
	width:100%; 
	margin: .5em 0 1em 0; 
	border-collapse: collapse;
}

caption {

}

th {
	font-weight: bold;
	text-align: center;
	vertical-align : middle;
	background: #e7eef7;
	padding: 5px;
}

th.head a:hover {

}

.foot, tfoot {

}

tbody {

}

table.outer {
	border-collapse: separate;
}

tr {
	border: 1px solid #eee;
}

td {
	padding: 5px;
}

.outer {	
	padding: 5px;
}

.head {
	font-weight: bold;
	vertical-align: top;
}

tr.even {
	padding: 5px;
	border-left: 1px solid #eee;
}

tr.head {
	border-left: 1px solid #eee;
}

tr.head td {
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}

tr.odd {
	padding: 5px;
	border-left: 1px solid #eee;
	background: #e7eef7;
}
tr.even td {
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
tr.odd td {
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

tr td.head {
	background: #f8f8f8;
}

/* Forms */

button, input[type=submit], input[type=button], input[type=reset], .xo-formbuttons, .formButton {

}

input[type=text], input[type=password], input[type=checkbox], input[type=file], textarea {

}

/* Pages Navigation */

#xo-pagenav {

}

.pagneutral {

}

.pagact {

}

.paginact {

}

.xo-counterpage {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
}
.xo-pagarrow {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
}

/* Codes and Quotes */

.xoopsCode {
	max-height: 400px;
	overflow: auto;
	font-family: Consolas, "Courier New", monospace;
}

.xoopsQuote {

}