<div id="help-template" class="outer">
    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/xoopspartners/admin/index.php"
           title="Back to the administration of Partners"> Partners <img src="<{xoAdminIcons home.png}>"
                                                                         alt="Back to the Administration of Partners"/>
        </a></h1>
    <!-- -----Help Content ---------- -->

    <h4 class="odd">Description</h4>

    <p class="even">
        The Partners module provides a page and a block for displaying links to the websites of cooperating
        organizations, together with short descriptions and optionally logos. Typical usage includes recognition of
        websites that refer a lot of traffic to your own and ‘thank you’ pages for sponsors.
    <h4 class="odd">Install/uninstall</h4>

    No special measures necessary, follow the standard installation process – extract the xoopspartners folder into the
    ../modules directory. Install the module through Admin -> System Module -> Modules. <br/><br/>
    Detailed instructions on installing modules are available in the <a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations
    Manual</a> </p>

    <p class="even">
    <h4 class="odd">Operating instructions</h4>
    To set up this module you need to:<br/><br/>
    i) Enter your partner’s details – including a URL for their website and (optionally) logo plus a short description
    (see ‘Adding a partner’)<br/><br/>
    ii) Configure your preferences for the module (see ‘Preferences’) and optionally the Partners block if you intend to
    use it (see ‘Blocks’)<br/><br/>
    iii) Check that you have given your user groups the necessary module and block access rights to use this module.
    Group permissions are set through the Administration Menu -> System -> Groups. <br/><br/>Detailed instructions on
    configuring the access rights for user groups are available in the <a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations
    Manual</a></p>
    <h4 class="odd">TUTORIAL</h4> <br>

    <p class="even">
        Tutorial has been started, but we might need your help! Please check it out the status of the tutorial <a href="https://www.gitbook.com/book/xoops/partners-tutorial/" target="_blank">here </a>.
        <br><br>To contribute to this Tutorial, <a href="https://github.com/XoopsDocs/partners-tutorial/" target="_blank">please fork it on GitHub</a>.
        <br> This document describes our <a href="https://www.gitbook.com/book/xoops/xoops-documentation-process/details/" target="_blank">Documentation Process</a> and it will help you to understand how to contribute.
        <br><br>
        There are more XOOPS Tutorials, so check them out in our <a href="https://www.gitbook.com/@xoops/" target="_blank">XOOPS Tutorial Repository on GitBook</a>.
    </p>


    <h4 class="odd">TRANSLATIONS</h4> <br>
    <p class="even">
        Translations are on <a href="https://www.transifex.com/xoops/" target="_blank">Transifex</a> and in our <a href="https://github.com/XoopsLanguages/" target="_blank">XOOPS Languages Repository on GitHub</a>.</p>

    <h4 class="odd">SUPPORT</h4> <br>
    <p class="even">
        If you have questions about this module and need help, you can visit our <a href="http://xoops.org/modules/newbb/viewforum.php?forum=28/" target="_blank">Support Forums on XOOPS Website</a></p>

    <h4 class="odd">DEVELOPMENT</h4> <br>
    <p class="even">
        This module is Open Source and we would love your help in making it better! You can fork this module on <a href="https://github.com/XoopsModulesArchive/partners" target="_blank">GitHub</a><br><br>
        But there is more happening on GitHub:<br><br>
        - <a href="https://github.com/xoops" target="_blank">XOOPS Core</a> <br>
        - <a href="https://github.com/XoopsModules25x" target="_blank">XOOPS Modules</a><br>
        - <a href="https://github.com/XoopsThemes" target="_blank">XOOPS Themese</a><br><br>
        Go check it out, and <strong>GET INVOLVED</strong>

    </p>


    <!-- -----Help Content ---------- -->

</div>
