<div class="widget">
	<h5>Welcome to Impressmizing!</h5>
	<div class="textwidget">
		<p id="widget-about">Feel free to add any widgets within the footer area. This footer is widget ready in each column, so you can use any of the blocks within this area.<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.  Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p></div>
</div>				
<div class="widget"><h5>Links</h5>
	<ul>
		<li><a href="#">Forum</a></li>
		<li><a href="#">Themes</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Suggest Ideas</a></li>
	</ul>
</div>				
<div class="widget">
	<h5>Testimonials</h5>
	<div class="textwidget"><p id="widget-bg">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem.  Sed ut perspiciatis unde omnis iste natus error sit voluptatem.”</p><br><br>
<p align="right">Mike S.</p></div>
</div>				 