<!-- BEGIN SLIDER -->
<div id="slider">
	<a href="<{$xoops_url}>" title="#htmlcaption">
	    <img title="" src="<{$xoops_imageurl}>images/sample1.png" alt="" /></a>
	<a href="<{$xoops_imageurl}>images/sample2.png" title="#htmlcaption2">
	     <img title="" src="<{$xoops_imageurl}>images/sample2.png" alt="" /></a>
	<a href="<{$xoops_imageurl}>images/sample3.png" title="#htmlcaption3">
	    <img title="This is the caption3, added in the Title field of the image at inserting in the page." src="<{$xoops_imageurl}>images/sample3.png" alt="" /></a>
</div>
<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a caption.
</div>
<div style="width:960px; margin:0 auto; background:url(<{$xoops_imageurl}>images/bk_shadow_slider.png) 0 0 no-repeat; height:50px;"></div>
	   <!-- END SLIDER -->
