	<div class="primary" id="<{if $xoBlocks.canvas_right or $xoBlocks.canvas_left}>twidth1<{else}>twidth2<{/if}>">
		<div>
			<ul class="tabs-nav lista"><{assign var=solapa value=0}>
				<{foreach item=block from=$xoBlocks.tabs}> <{assign var=solapa value=$solapa+1}>
				<li><a href="#contenido<{$solapa}>"><span><{$block.title}></span></a></li>
				<{/foreach}>
			</ul>
				<{assign var=solapa2 value=0}>
				<{foreach item=block from=$xoBlocks.tabs}>
				<{assign var=solapa2 value=$solapa2+1}>
			<div id="contenido<{$solapa2}>" class="solapa">
				<div class="left-block-content solapa2"><{$block.content}></div>
			</div>
		<{/foreach}>
	  </div>
	</div>